.header{
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255,.8);
    width: 100%;
    .container{
        max-width: 1360px;
    }
    .header__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__wrap-logo{
            width: 60px;
            overflow: hidden;
            img{
                width: 60px;
                border: none;
            }
        }
        .header__menu{
            .header__menu-list{
                display: flex;
                .header__list-item{
                    margin-right: 51px;
                    &:last-child{
                        margin: 0;
                    }
                    .header__menu-link{
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 14px;
                        align-items: flex-end;
                        letter-spacing: 0.6px;
                        color: #373A39;
                        position: relative;
                        &:after{
                            position: absolute;
                            content: "";
                            height: 2px;
                            width: 100%;
                            background: #FCBB08;
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            bottom: -9px;
                            opacity: 0;
                        }
                        &:hover:after{
                            transition: .3s;
                            opacity: 1;
                        }
                    } 
                    
                }
            }
        }
    }  
}


