.magic{
    background-color: #F6F8FA;;
    .magic-wrap{
        display: flex;
    }
    .magic-wrap__img{
        width: 50%;
    }
    .magic__wrap-content{
        width: 50%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .magic__title{
        white-space: normal;
        max-width: 325px;
        padding-bottom: 85px;
        &:after{
            top: 164px;
        }

    }
    .magic__text{
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #373A39;
        max-width: 470px;
        padding-bottom: 20px
    }
}