// @import "vars";
@import "libs";
@import "fonts";
@import "reset";
@import "block/header";
@import "block/start-screen";
@import "block/about-us";
@import "block/our-expertise";
@import "block/magic";
@import "block/portfolio";
@import "block/our-team";
@import "block/our-advantages";
@import "block/pricing-plans";


.active{
    padding-left: 200px;
    transition: .9s;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.container{
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.title-section{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    position: relative;
    margin-right: 15px;
    white-space: nowrap;
    &::after{
        content: "";
        width: 60px;
        height: 4px;
        background: #FCBB08;
        position: absolute;
        left: 0;
        top: 89px;
    }
}


#go-top {
    position: fixed; 
    bottom: 193px; 
    right: 30px; 
    cursor:pointer; 
    display:none;
    width: 50px;
    height: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
    width: 45px;
    height: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#go-top:hover{
    border: solid 1px #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;	
}

.hide{
    display: none;
}



.animated.delay-6s{
    -webkit-animation-delay: 1s;
    animation-delay:  1s;
}
.animated.delay-7s{
    -webkit-animation-delay: 1.4s;
    animation-delay:  1.1s;
}
.animated.delay-9s{
    -webkit-animation-delay: 1.8s;
    animation-delay:  1.2s;
}